{% extends "blog/base.html" %}
{% block content %}    
        <article class="media content-section">
            <img class="rounded-circle article-img" style="width: 60px; height: 60px; object-fit: cover;" src="{{ object.auther.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2 ms-3" href="{% url 'user-posts' object.auther.username %}">{{ object.auther }}</a>
                    <small class="text-muted">{{ object.date_posted }}</small>
                    {% if object.auther == user %}
                        <div class= 'ms-3'>
                            <a class="btn btn-secondary btn-sm mb-1 mt-1" href="{% url 'post-update' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sm mb-1 mt-1" href="{% url 'post-delete' object.id %}">Delete</a>
                        </div>
                        <hr class="legend-line mt-0 ">
                    {% endif %}
                </div>
                <h2 class="article-title ms-3"> {{ object.title }} </h2>
                <p class="article-content ms-3">{{ object.content }}</p>            
            </div>
        </article>
    </div>
{% endblock content %}
